
.login-page-headers {
  font-family: 'Saira Semi Condensed', sans-serif;
  color:tomato;
  font-size: 25px;
  font-weight: bold;
 }
.comfortaa-font{
  font-family: 'Comfortaa', sans-serif;
}

.saira-font{
  font-family: 'Saira Semi Condensed', sans-serif;

}

div.cgpaRound{
  -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      color: #ffffff;
      font-size: 13px;
      background: #77d683;
      text-decoration: none;
      text-size-adjust: auto;
      padding-top: 1px;
      padding-left: 10px;
      padding-right: 10px;
      height: 20px;

      position: relative;
      display: inline-block;
      border-bottom: 1px solid black;
      float: right;
      margin-right: 10px;
      margin-top: 10px

}


.user-card-avatar{
  top: calc(15% - 3rem);
}
.user-card-header{
  display: none;
}

.user-card-body{
  padding-top: 5rem;
}

.user-card-name{
  margin-bottom: 0rem;
}
.card{
  min-height: 200px;
    background-color: white;
    width: 220px;
    min-width: 220px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card.float:hover {
    box-shadow: 0 8px 16px 0px #7f8c8d;
    cursor: 'pointer';
}

body {
  font-family: 'Saira Semi Condensed', sans-serif;
}

.theme-modal-font{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}


.btn {
  position: relative;
  width: 150px;
  height: 30px;
  display: block;
  margin: 0px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #3f51b5;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #38226f;
  cursor: pointer;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.fbLoginButton{
  width: 160px;
  height:40px;
  border-radius:5px;
  background-color: #3f51b5;
  color:white;
}

.fbLoginButton:hover {
    background-color: #38226f;
    color: white;
}

.course360-font {
  font-family: 'Lobster', cursive;
}

.courses-card{
  padding-bottom: 12px
}
.center-text{
  text-align: center;
}
.small-font-size{
  font-size: 11px
}
.login-banner{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.user-added-font{
  font-size: 20px;
  color: white;
  font-weight: bold;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.whiteFont{
  color: white;
  border-radius: 4px;
}
.drawerFont > span {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 17px
}
/* FOR DRAWER PROFILE PIC */
.profile {
  height: 120px;
  top: 50%;
  left: 50%;

}

.box {
   display: flex;
   align-items:center;
}

.profile figure, .profile figure img, .profile figure .back, .profile figure .front, .profile figure .back span {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
}
.profile figure {
  position: absolute;
  z-index: 3;
  top: 10px;
  background: #e0e0e0;
  padding: 5px;
  border-right: solid 1px #bdc6e7;
}
.profile figure img {
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.profile figure .front, .profile figure .back {
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}
.profile figure .front {
  z-index: 1;
}
.profile figure .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.profile figure .back span {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
  text-align: center;
  color: #ffffff;
  line-height: 88px;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.profile figure .back span:active {
  -webkit-box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 25px 20px rgba(0, 0, 0, 0.1) inset;
}
.profile figure:hover .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.profile figure:hover .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
